@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Signika Negative', sans-serif;
  text-align: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48%;
  height: 59%;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 20px;
}

header {
  color: white;
  background: #1a57e0;
  position: fixed;
  top: 0;
  width: 100%;
}

header > h1 {
  padding: 10px;
}

#airtable {
  box-shadow: 14px 17px 35px -30px rgba(0, 0, 0, 0.7);
}
