@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Signika Negative', sans-serif;
  text-align: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48%;
  height: 59%;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 20px;
  max-width: 1200px;
}

header {
  color: white;
  background: #1a57e0;
  position: fixed;
  top: 0;
  width: 100%;
}

header > h1 {
  padding: 10px;
}

#airtable {
  margin-top: 10px;
  box-shadow: 14px 17px 35px -30px rgba(0, 0, 0, 0.7);
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) '. ';
  font-weight: 100;
}

a {
  box-shadow: inset 0 0 0 0 #1957e0;
  color: #1957e0;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #1957e0;
  color: white;
}
