name: Test

on:
  pull_request_target:
    branches:
      - 'main'

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Check user to perform action
        run: |
          AUTHOR_PR=${{ github.event.pull_request.user.login }}
          echo AUTHOR_PR=$AUTHOR_PR

          IS_ALLOW=$(curl -s "https://api.airtable.com/v0/appXFam00FE5hN2lS/sbpau-2023?view=full&fields%5B%5D=Name" \
          -H "Authorization: Bearer ${{ secrets.AIRTABLE_TOKEN }}" | \
          jq ".records[] | .fields.github-nickname" | grep "$AUTHOR_PR" || true)

          if [ "$IS_ALLOW" == "" ]; then
              echo "user $AUTHOR_PR has no permissions to perform this action!"
              exit 1
          fi
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Checkout shadow
        uses: actions/checkout@v3
        with:
          repository: DimaAmega/web-fundamentals-shadow
          token: ${{ secrets.SECRET_TOKEN }}
          path: .shadow

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Install dependencies
        shell: bash
        run: pnpm install

      - name: Install dependencies shadow
        shell: bash
        run: cd .shadow && pnpm install

      - name: Copy tests
        shell: bash
        run: cd .shadow && pnpm ci-copy-all-tests-up-level

      - name: Run tests
        shell: bash
        run: pnpm test-all
